.newMarker-container {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 50px;
    background-color: #bdd6b9;
    z-index: 1 !important;
    padding: .5rem .6rem;
    font-weight: bold;
    border-radius: .5rem;
}

.newMarker-container fieldset{
  padding: 1rem;
  color :rgb(23, 77, 23);
}

.newMarker-container button {
  margin: 0.5rem 0.5rem 0 0;
}

.newMarker-container .save-btn {
  color: #dde9de;
  background-color:#008CBA;
  border: solid black 1px;
  border-radius: .4rem;
  padding: .3rem;
  font-weight: bold;
}

.newMarker-container .save-btn:hover {
  background-color:#09ade4;
}

.newMarker-container .cancel-btn {
  background-color: rgb(75, 82, 75);
  border: solid black 1px;
  border-radius: .3rem;
  padding: .25rem;
  color: #dde9de;
}

.newMarker-container .cancel-btn:hover{
  background-color: rgb(76, 92, 76);
}

.badInput-msg {
  color: #f44336;
}

.error-msg {
  color: #f44336;
}

.loading-msg {
  color: #4CAF50;
}

@media screen and (max-width: 1024px) {
  .newMarker-container {
    margin: 25px;
  }
}

@media screen and (max-width: 768px) {
  .newMarker-container {
    margin: 0px;
  }
}

