.editMarker-container {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 50px;
    background-color: #6b5959;
    color: #ffffff;
    z-index: 1 !important;
    padding: .5rem;
    font-weight: bold;
    border-radius: .5rem;;
}

fieldset{
  padding: 1rem;
  color: #ffffff;
}

.save-btn {
  color: #dddddd;
  background-color: #4CAF50;
  border: solid black 1px;
  border-radius: .4rem;
  padding: .25rem;
  font-weight: bold;
}

.save-btn:hover {
  background-color: #4CAF50;
}

.cancel-btn {
  color: #dddddd;
  background-color: #555555;
  border: solid black 1px;
  border-radius: .4rem;
  padding: .25rem;
  font-weight: bold;
}

.cancel-btn:hover {
  background-color: #555555;
}

@media screen and (max-width: 1024px) {
  .editMarker-container {
    margin: 25px;
  }
}

@media screen and (max-width: 768px) {
  .editMarker-container {
    margin: 0px;
  }
}

