.popup h3{
  color :rgb(23, 77, 23);
}

.popup {
  padding: .3rem;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: .3rem;
  width: 180px;
  text-align: center;
  border: solid rgb(124, 124, 124) 1px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.map-container {
  position: absolute;
  top: 3rem;
  left: 0;
  height: calc(100% - 3rem);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.map-container *:focus{
  outline: none;
}

@media screen and (max-width: 768px) {

}
